body {
    background: lightgrey;
}


h1 {
  padding: 30px;
  text-align: center;
  background: whitesmoke;
  color: black;
  font-size: 30px;
}

hr {
    border: none;
    padding: 20px;
}
.wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

}
.flex-container {
    display: flex;
    flex-direction: column;
    background: white;
}

.headerwrapper {
  background: whitesmoke;
  display:flex;
  flex-direction: row;
  
}

.header {
    width: 550px;
    background: whitesmoke;
    padding: 5px;
}

.counter {
    float: right;
    color: darkgrey;
    padding: 5px;
    width: 50px;
    float:right;


}

.picture {
    background: whitesmoke;

}

.bottom {
    background: whitesmoke;
    padding: 5px;
}
